/* Global Styles
---------------------------*/
Body{
    color:#343434;
    margin:0;
    padding:0;
    font-family:'Bree Serif', serif;
    font-size:15px;
    line-height:1.5;
    
}
h1,h2 {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    font-weight: 400;
    margin:0;
}
header{
    line-height: 45px;
    font-weight: 400;
    text-shadow: 2px 2px blue;
       
}

h2 { font-size: 30px;}
img{
    width:260px;
    float:left;
    position: relative;
    transform: translate(100px)
    
    
    
}
.clear { clear: both;}
a
{color: #FFE66D; }
a:hover {text-decoration: none;}

.content-wrap {
    width: 1100px;
    margin: 0 auto;
    padding: 40px 0;
}
/*Profile
--------------------*/
header{ background-color:#2f3061;
      background-image: url(./img/Horse2.jpg);
     
              Color:#F7FFF7;
              

}
/* Projects
-------------------*/
.projects{
    background-color: #F7FFF7;
}
.projects a {
Color:#2F3061;
}
.projects .btn {color:#F7FFF7; 
    background-color:#2F3061 ;
     text-decoration: none;
    padding:8px;
border-radius: 4px;
display: inline-block;
}
.projects .btn :hover {background-color: rgba(47,48,97,80%);}

/*Work Experience
-------------------*/
.work-experience{
    background-color:#A1C607;
}

/*Education
-------------------*/


/*Contact Info
-------------------*/
footer{
    background-color:#343434 ;
    Color:#F7FFF7;
}